[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
python-decouple = "*"
pillow = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.14"
